<div class="row">
      <div class="form-group col-md-4">
        <div class="input-group mb-12">
          <input type="text" class="form-control" [(ngModel)]="searcher" placeholder="City" aria-label="Recipient's username" aria-describedby="basic-addon2">
          <div class="input-group-append">
            <button class="btn btn-outline-secondary" (click)="getWeather()" type="button">Search</button>
          </div>
        </div>
      </div>
      <div class="form-group col-md-6">
          Coverage result:
          <table>
            <tbody>
              <tr>
                <td>Humidity:</td>
                <td>{{humidity}}</td>
              </tr>
              <tr>
                <td>Pressure:</td>
                <td>{{pressure}}</td>
              </tr>
              <tr>
                <td>Max temp:</td>
                <td>{{temp_max}}</td>
              </tr>
              <tr>
                <td>Min temp:</td>
                <td>{{temp_min}}</td>
              </tr>
            </tbody>
          </table>
        </div>
</div>