.day-container {
    min-height: 100px;
    text-align: right;
}

.day {
    cursor: pointer;
}

.currentDay {
    background-color: lavender;
}

.gayColor {
    color: gray;
}

.redBackground {
    border: 1px solid red;
}

.myList {
    font-size: 8px;
}

.fontSize10 {
    font-size: 10px;
}

.listElement {
    border-radius: 10px;
    text-align: center;
    cursor: pointer;
}