<div class="col-sm day-container" (click)="daySelect(day)" [ngClass]="{'redBackground': day.isToday, 'currentDay': day.isSelect}">
    <div>
        <div class="day" [ngClass]="{'gayColor': !day.isThisMonth}">
            <span>{{day.date}}</span>
        </div>
    </div>
    <div class="lower-div">
        <a *ngIf="day.isSelect" (click)="openModalWithComponent({event: false, day: day})" class="badge badge-primary">Add reminder</a>
        <ul class="list-group myList">
            <li *ngFor="let event of day.hasEvent" [style.background-color]="event.color" class="listElement" (click)="openModalWithComponent({event: event, day: day})">{{event.reminder}}</li>
        </ul>
    </div>
</div>