<div class="container" style="border: solid;">
    <app-header [displayMonth]='displayMonth' [displayYear]="displayYear" (onMonthSelect)="createMonth($event.year, $event.month)"></app-header>
    <div class="container">
        <div class="row">
            <div class="col-sm text-primary text-center" *ngFor="let head of weekHead">{{head}}</div>
        </div>

        <div class="row" *ngFor="let week of weekArray; let i = index">
            <div class="col" *ngFor="let day of week;let j = index">
                <app-day [day]='day' (onDaySelect)="daySelect(i, j)"></app-day>
            </div>
        </div>
    </div>
</div>